@import '../../../../assets/styles/variables';

#container-nav {
  background-color: $second-bg-color;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;

  .logo {
    color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul {
    display: flex;

    li a {
      display: block;
      color: $white-color;
      text-align: center;
      padding: 14px 16px;
      transition: 0.3s;
    }

    li a:hover {
      background-color: #000;
      color: $primary-color;
    }
  }
}