<footer id="container-footer">
  <p>Copyright &copy; Joaopedrocoder - 2024</p>
  <div class="container-social-media">
    <mat-icon aria-hidden="false" aria-label="attach_email icon" class="social-icon"fontIcon="attach_email"></mat-icon>
    <mat-icon aria-hidden="false" aria-label="linkedin icon" class="social-icon"fontIcon="linkedin"></mat-icon>
    <mat-icon aria-hidden="false" aria-label="attach_email icon" class="social-icon"fontIcon="attach_email"></mat-icon>
    <mat-icon aria-hidden="false" aria-label="linkedin icon" class="social-icon"fontIcon="linkedin"></mat-icon>
  </div>
</footer>
